
html {
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}
body{
   max-width: 100%;
   max-height: 100%;
}
.header_a{
   display: flex;
   justify-content: space-around;
}
.header_a  nav{
   display: none;
}
.container_a {
   width: 100%;
   height: auto;
   display: flex;
   padding: 0;
}
.container_a img{
   max-width: 100%;
   max-height: 100%;
   display: none;
   background-size: cover;
   justify-content: center;
}
.img_1 h1{
   display: none;
}
/**/
.text_a {
   font-size: 1em;
   display: none;
}
.container_a img{
   width: 100%;
}
.container_b .minipart_b{
   display: none;
}
.container_b img{
   display: none;
}
.SectionC{
   display:none;
}
.SectionD{
}
.minipart_db1{
}
.minipart_db{
   display: none;
}
